body {
  background-color: #000000;
}

/* Default styles */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  margin: 2rem auto;
}
h1,
h3 {
  padding: 0rem 2rem;
  color: #333;
  font-family: "Raleway", sans-serif;
}
/* Form styles */
form {
  margin: 2rem auto;
  padding: 1rem;
}
.formBox {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin: 2rem 0;
}
label {
  font-size: 1rem;
  padding: 0.2rem 0;
  font-weight: 300;
  color: #777;
  text-align: right;
}
select,
input,
button,
option,
optgroup,
textarea {
  font-size: 1rem;
  font-weight: 500;
  color: #555;
  padding: 0.2rem 0.5rem;
  margin: 0 1rem 0 0;
}
optgroup {
  color: #999;
  font-weight: 200;
  padding-left: 0.2rem;
}
.buttons button {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #333;
  color: #eee;
}
